* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    @font-face {
      font-family: Lexend Deca;
      src: url(https://fonts.google.com/specimen/Lexend+Deca);
     }
      @font-face {
        font-family: Big Shoulders Display;
        src: url(https://fonts.google.com/specimen/Big+Shoulders+Display);
    }
   }
   
   body{
     background-color: white;
   }
   
   main{
     background-color: rgba(243, 237, 237, 0.973);
     width: 75%;
     margin: auto;
     display: grid;
     justify-content: center;
     align-items: center;
     height: 100vh;
   }
   
   .main-box{
     width: 50%;
     display: grid;
     grid-template-columns: 240px 240px 240px;
   
   }
   
   h1{
   font-family: Big Shoulders Display;
   color: hsla(0, 0%, 100%, 0.75);
   font-weight: 700;
   font-size: 200;
   margin-bottom: 30px;
   margin-left: 35px;
   margin-top: 110px;
   }
   
   p{
   font-family: Lexend Deca;
   color: hsla(0, 0%, 100%, 0.75);
   font-weight: 400;
   font-size: 12px;
   margin-bottom: 9px;
   }
   
   .paragraph{
     margin-bottom: 60px;
     margin-left: 35px;
   }
   
   .left{
     background-image: url(icon-sedans.svg);
     background-repeat: no-repeat;
     background-position: 35px 35px;
     background-color: hsl(31, 77%, 52%);
     border-top-left-radius: 5px;
     border-bottom-left-radius: 5px;
     color: ghostwhite;
   }
   
   .middle{
     background-image: url(icon-suvs.svg);
     background-repeat: no-repeat;
     background-position: 35px 35px;
     background-color: hsl(184, 100%, 22%);
     color: ghostwhite;
   }
   
   .right{
     background-image: url(icon-luxury.svg);
     background-repeat: no-repeat;
     background-position: 35px 35px;
     background-color: hsl(179, 100%, 13%);
     border-bottom-right-radius: 5px;
     border-top-right-radius: 5px;
     color: ghostwhite;
   
   }
   .button-left{
     width: 100px;
     background-color: white;
     color: hsl(31, 77%, 52%);
     border: none;
     margin-bottom: 35px;
     margin-left: 35px;
     padding: 10px 8px;
     text-align: center;
     text-decoration: none;
     display: inline-block;
     border-radius: 25px;
   }
   
   .button-middle{
     width: 100px;
     background-color: white;
     color: hsl(184, 100%, 22%);
     border: none;
     margin-bottom: 35px;
     margin-left: 35px;
     padding: 10px 8px;
     text-align: center;
     text-decoration: none;
     display: inline-block;
     border-radius: 25px;
   }
   
     .button-right{
       width: 100px;
       background-color: white;
       color: hsl(179, 100%, 13%);
       border: none;
       margin-bottom: 35px;
       margin-left: 35px;
       padding: 10px 8px;
       text-align: center;
       text-decoration: none;
       display: inline-block;
       border-radius: 25px;
     }
   
     .button-left:hover {
      background-color: hsl(31, 77%, 52%);
      color: rgba(255, 255, 255, 0.89);
      cursor: pointer;
      border-color: white;
      border-style: solid;
      border-width: 1px;
     }
   
     .button-middle:hover {
       background-color: hsl(184, 100%, 22%);
       color: rgba(255, 255, 255, 0.89);
       cursor: pointer;
       border-color: white;
       border-style: solid;
       border-width: 1px;
      }
   
      .button-right:hover {
       background-color: hsl(179, 100%, 13%);
       color: rgba(255, 255, 255, 0.89);
       cursor: pointer;
       border-color: white;
       border-style: solid;
       border-width: 1px;
      }